<nav class="navbar navbar-expand bg-dark navbar-dark sticky-top py-2">
    <div class="container">
        <a class="navbar-brand" href="/">pdfAssist</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item btn btn-primary btn-sm mx-3"><a class="nav-link text-light" href="/signup"> Sign Up</a></li>
            <li class="nav-item btn btn-dark btn-sm border"><a class="nav-link" href="/login"> Login</a></li>
        </ul>
    </div>
</nav>