body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hidden {
    display: none;
}

nav ul li {
    display: inline-block;
    
}

.inputFields {
    width: 20%;
    padding: 1em;
}

.inputFields label, .inputFields input, .inputFields textArea {
    display: block;
    width: 100%;
}

.inputPreview {
    display: flex;
}

.docPreview {
    width: 80%;
    padding: 1em;
}

legend {
    font-weight: bold;
}

.newTemplateButton {
    padding: 0 0.5em;
    border: 1px solid #24a0ed;
    border-radius: 5px;
    background: #24a0ed;
    height: 5em;
}

.txServiceDocReturn {
    margin-bottom: 1em;
}

#txCourt, #courtInfo {
    min-height: 6em;
}

#servee1Address, #servee2Address {
    min-height: 4em;
}

@media screen and (max-width: 1050px) {
    .inputFields {
        width: 100%;
    }
}

@media (min-width: 540px) and (max-width: 1050px) {
    .inputFields {
        width: 50%;
    }
}

iframe {
    height: 85vh;
    width: 100%;
}

.indexHero {
    background-image: -moz-linear-gradient(top, rgba(61, 60, 60, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/signingDocs.jpg");
    background-image: -webkit-linear-gradient(top, rgba(61, 60, 60, 0.5), rgba(61, 60, 60, 0.5)), url("../../img/signingDocs.jpg");
    background-image: -ms-linear-gradient(top, rgba(5, 47, 71, 0.5), rgba(5, 47, 71, 0.5)), url("../../img/signingDocs.jpg");
    background-image: linear-gradient(top, rgba(5, 47, 71, 0.5), rgba(5, 47, 71, 0.5)), url("../../img/signingDocs.jpg");
    background-position: center 40%;
    background-size: cover;
}

.btn-primary {
    background-color: #b7410e;
    border-color: #b7410e;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: rgb(247, 102, 18) !important;
    border-color: rgb(247, 102, 18)  !important;
}

.btn-primary:active {
    background-color: #cf6030 !important;
    border-color: #cf6030  !important;
}

.bg-dark {
    background-color: #01263b !important;
}

.navbarBg {
    background-color: #055888 !important;
}

.signUpButton {
    background-color: #055888;
}

.signUpButton a {
    color: white;
}

.signUpButton:hover {
    background-color: rgba(8, 150, 231, 0.75) !important;
}

.imgContainer {
    width: 50%;
}

.imgCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signUpTextArea {
    height: 100%;
    width: 100%;
}

.dropdown-item:hover {
    background-color: #074366;
}